
@-webkit-keyframes spinning {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  50% {
    transform: rotate(325deg);
    -webkit-transform: rotate(325deg);
  }
  100% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

@-webkit-keyframes translating {
  0% {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  50% {
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}

@-webkit-keyframes color-change {
	0%, 20%, 40%, 60%, 100% {
	    background-color: #fff;
	}
	10%, 30%, 50%, 70%, 90% {
	    background-color: #f00;
	}
}

* {
	margin: 1;
	padding: 0;
}

body {

	background-color: #f5f5f5;
}

h1{
  color: DarkCyan;
  position: relative;
  top: 20px;
  left: 30px;

}

p.one{
  line-height: 1.5em;
  font-family: Georgia, serif;
  position: relative;
  top: 20px;
  left: 30px;

}

p.two{
  line-height: 1.5em;
  font-family: Georgia, serif;
  position: relative;
  top: 50px;
  left: 30px;

}
#cat {
	position: relative;
  top: 30px;
  left: 150px;
	width: 10em;
	height: 12em;
}
#cat #head {
	width: 8em;
	height: 8em;
	background-color: #ff8533;
	border-radius: 5em 5em 5em 5em;
	z-index: 150;
	position: relative;
}

#cat #body {
	width: 6em;
	height: 10em;
	background-color: #ff8533;
	border-radius: 3em 3em 3em 3em;
	z-index: 100;
	position: relative;
  top: -5em;
  left: 1em;
}

#cat #feet::before {
	content: '';
	width: 1em;
	height: 2em;
	background-color: #ff8533;
	border-radius: 0 0 0.5em 0.5em;
	position: absolute;
	top: 12em;
  left: 2em;
}

#cat #feet::after {
	content: '';
	width: 1em;
	height: 2em;
	background-color: #ff8533;
	border-radius: 0 0 0.5em 0.5em;
	position: absolute;
	top: 12em;
	left: 5em;
}

#cat #eyes::before {
	content: '';
	width: 2em;
	height: 1.25em;
  background-color: #fff;
  -moz-border-radius: 1em / 0.6em;
  -webkit-border-radius: 1em / 0.6em;
  border-radius: 1em / 0.6em;
	position: absolute;
	top: 2em;
	left: 1em;
}

#cat #eyes::after {
	content: '';
  width: 2em;
	height: 1.25em;
  background-color: #fff;
  -moz-border-radius: 1em / 0.6em;
  -webkit-border-radius: 1em / 0.6em;
  border-radius: 1em / 0.6em;
	position: absolute;
	top: 2em;
	left: 4.5em;
}

#cat #pupils::before {
	content: '';
	width: 0.6em;
	height: 1.24em;
	background-color: #000;
  -moz-border-radius: 0.3em / 0.6em;
  -webkit-border-radius: 0.3em / 0.6em;
  border-radius: 0.3em / 0.6em;
	position: absolute;
	top: 2em;
	left: 1.75em;
}

#cat #pupils::after {
	content: '';
  width: 0.6em;
	height: 1.24em;
	background-color: #000;
  -moz-border-radius: 0.3em / 0.6em;
  -webkit-border-radius: 0.3em / 0.6em;
  border-radius: 0.3em / 0.6em;
	position: absolute;
	top: 2em;
	left: 5.25em;
}

#cat #whisker1::before {
	content: '';
	width: 1.75em;
	height: 0.1em;
	background-color: #fff0e6;
	border-radius: 0em;
  -webkit-transform:rotate(8deg);
  -moz-transform: rotate(8deg);
	position: absolute;
	top: 3.5em;
	left: 1.25em;
}

#cat #whisker1::after {
	content: '';
	width: 1.75em;
	height: 0.1em;
	background-color: #fff0e6;
	border-radius: 0em;
  -webkit-transform:rotate(-8deg);
  -moz-transform: rotate(-8deg);
	position: absolute;
	top: 3.5em;
	left: 4em;
}

#cat #whisker2::before {
	content: '';
	width: 1.75em;
	height: 0.1em;
	background-color: #fff0e6;
	border-radius: 0em;
	position: absolute;
	top: 3.75em;
	left: 1.25em;
}

#cat #whisker2::after {
	content: '';
	width: 1.75em;
	height: 0.1em;
	background-color: #fff0e6;
	border-radius: 0em;
	position: absolute;
	top: 3.75em;
	left: 4em;
}

#cat #whisker3::before {
	content: '';
	width: 1.75em;
	height: 0.1em;
	background-color: #fff0e6;
	border-radius: 0em;
  -webkit-transform:rotate(-8deg);
    -moz-transform: rotate(-8deg);
	position: absolute;
	top: 4em;
	left: 1.25em;
}

#cat #whisker3::after {
	content: '';
	width: 1.75em;
	height: 0.1em;
	background-color: #fff0e6;
	border-radius: 0em;
  -webkit-transform:rotate(8deg);
    -moz-transform: rotate(8deg);
	position: absolute;
	top: 4em;
	left: 4em;
}

#cat #nose::before {
	content: '';
	width: 1em;
	height: 0.75em;
	background-color: #1a0a00;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	position: absolute;
	top: 3.25em;
	left: 3em;
}

#cat #mouth::before {
	content: '';
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 1.6px 3.2px 0 -1.2px black;
	position: absolute;
	top: 3em;
	left: 1.5em;
}

#cat #mouth::after {
	content: '';
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: -1.6px 3.2px 0 -1.2px black;
	position: absolute;
	top: 3em;
	left: 3.5em;
}

#cat #tail::before {
	content: '';
	width: 2.25em;
	height: 2em;
	background-color: #ff8533;
	border-radius: 0 0 50% 0;
	position: absolute;
	top: 10em;
	left: 6em;
	z-index: 10;
}

#cat #tail::after {
	content: '';
	width: 2em;
	height: 1.75em;
	background-color: #f5f5f5;
	border-radius: 0 0 50% 0;
	position: absolute;
	top: 9.75em;
	left: 6em;
	z-index: 10;
}



#cat #arms::before {
	content: '';
	width: 2em;
	height: 1em;
	background-color: #ff8533;
	border-radius: 1em 0 0 1em;
	position: absolute;
	top: 7em;
	left: -1em;
	z-index: 10;
}

#cat #arms::after {
	content: '';
	width: 2em;
	height: 1em;
	background-color: #ff8533;
	border-radius: 0 1em 1em 0;
	position: absolute;
	top: 7em;
	left: 7em;
	z-index: 10;
}


#cat .ears::before {
  content: '';
  width:  4em;
  height: 4em;
  border-top-left-radius: 30%;
  transform: rotate(55deg) skewX(45deg) scale(1,.88);

  background-color: #ff8533;
	z-index: 150;
	position: absolute;
	top: -0.3em;
	left: 0em;
}


#cat .ears::after {
  content: '';
  width:  4em;
  height: 4em;
  border-top-right-radius: 30%;
  transform: rotate(-55deg) skewX(-45deg) scale(1,.88);

  background-color: #ff8533;
	z-index: 150;
	position: absolute;
	top: -0.3em;
	left: 4.2em;
}
